DB_USER=
DB_PASSWORD=
DB_HOST=
DB_NAME=

MAIL_SERVER=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=

SECRET_KEY=replace_this_with_a_long_random_string



#for telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

#for orange cameroon notification
ORANGE_SMS_URL=https://your-orange-api-endpoint
ORANGE_SMS_USER=your_username
ORANGE_SMS_PASS=your_password
ORANGE_SMS_SENDER=MINISIEM